<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>폼 전송 - 실습</h2>
    <form action="/submitForm" method="post" id="form_apiPrac">
      이름: <input type="text" name="name"><br>
      성별:
      <input type="radio" name="gender" value="남자"> 남자
      <input type="radio" name="gender" value="여자"> 여자<br>
      생년월일:
      <select name="birthYear">
        <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
      </select>
      년
      <select name="birthMonth">
        <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
      </select>
      월
      <select name="birthDay">
        <option th:each="day : ${days}" th:value="${day}" th:text="${day}"></option>
      </select>
      일<br>
      관심사:
      <input type="checkbox" name="interest" value="여행"> 여행
      <input type="checkbox" name="interest" value="패션"> 패션
      <input type="checkbox" name="interest" value="음식"> 음식<br>
      <button type="button" onclick="apiPrac()">회원가입</button>
    </form>
  </body>
  <script>
      function apiPrac() {
          const form = document.getElementById("form_apiPrac");
          const data = {
              name: form.name.value,
              gender: form.gender.value,
              year: form.birthYear.value,
              month: form.birthMonth.value,
              day: form.birthDay.value,
              interest: form.interest.value
          }
          axios.post("/submit", data).then((res) => console.log(res.data))
      }
  </script>
</html>
