.d-block{
    display: block;
    background-color: bisque;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    padding: 15px;
    margin: 20px;
}
.d-inline{
    display: inline;
    background-color: cadetblue;
    color: azure;
    /* 높이 너비 적용 불가능 */
    width: 1000px; 
    height: 100px;
    /* margin: 10px; -> 안주는게 좋음 */
}
.d-inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: 1px solid black;
}


.parent{
    width: 500px;
    height: 200px;
    background-color: red;
}
/* width를 300px로 바꾸면 min은 400px유지, max는 같이 줄어듬 */
/* width를 500px로 바꾸면 max는 400px유지, min은 같이 늘어남 */
.parent > .min{
    min-width: 400px; /*400px 이상은 부모와 같이 큼 */
    height: 100px;
    background-color: orange;
}
.parent > .max{
    max-width: 400px; /*400px 이하는 부와 같이 줄어듬*/
    height: 100px;
    background-color: rebeccapurple;
}

.box{background-color: cadetblue; border: 1px solid black;}
.box-px{width: 50px; height: 50px;}
.box-view{width: 50vw; height: 50vh}
.box-per{width: 50%; height: 50%;}
.rem{font-size: 2rem;}
.em{font-size: 2em;}
/* 1rem - 16px / 2rem - 32px */
/* 2em - 부모의 글꼴을 가져와 2배씩 늘어남 */

.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.border{
    background-color: aliceblue;
    /* 단축속성: 굵기 모양 색깔 */
    /* border: 3px solid bisque; */
    border-color: red orange;
    border-style: dotted;
    border-width: 3px;
}

.rounded{
    background-color: aquamarine;
    /* border-radius: 50px; */
    /* border-radius: 5px 10px 20px 40px; */
    border-radius: 5px 20px 40px;
}
/* practice */
.box1{background-color: black;border-style: dashed; border-color: aqua; border-width: 3px 2px 1px 3px;}
.box2{background-color: beige; border-color: aqua pink lime red; border-style: dotted; border-width: 3px;}
.box3{border-color: aqua; border-width: 3px;}
.box4{border-color: aqua; border-width: 3px;}

/* box-sizing */
.box-sizing{
    background-color: orange;
    border: 15px solid red;
    padding: 20px;
}
/* 크기가 밖으로 더 커짐 - width + padding + border */
.content-box{
    box-sizing: content-box;
}
/* 크기가 허락하는한 모양 안에서 해결 */
.border-box{
    box-sizing: border-box;
}
.d-none {
    /* display: none; */
    background-color: red;
}
.invisible {
    /* visibility: hidden; */
    background-color: orangered;
}
.opacity-0 {
    /* opacity: 0; */
    background-color: tomato;
}

/* overflow */
.overflow-hidden{overflow: hidden;}
.overflow-auto{overflow: auto;}
.overflow-scroll{overflow: scroll;}
.overflow-visible{overflow: visible;}
