<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sequelize - 방명록/회원페이지</h1>
    <a href="/visitors">방명록 남기기</a>
    <a href="/user/signin">로그인 페이지</a>
    <a href="/user/findAll">회원 정보페이지</a>
  </body>
</html>
