<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="login_form">
      <label for="">아이디</label>
      <input type="text" id="id" placeholder="아이디 입력해주세요" />
      <br />
      <label for="">비밀번호</label>
      <input type="password" id="pw" placeholder="비밀번호 입력해주세요" />
      <br />
      <button type="button" onclick="login()">로그인</button>
    </form>

    <script>
      async function login() {
        const form = document.forms["login_form"];
        const response = await axios({
          method: "POST",
          url: "/login",
          data: {
            id: form.id.value,
            pw: form.pw.value,
          },
        });
        console.log(response.data);
        // {result, token}
        // {result, msg}

        const { result, token, msg } = response.data;

        if (result) {
          // 로그인 성공
          // 토큰을 저장하는 작업 -> 로컬 스토리지에 저장
          // 로컬 스토리지: 브라우저의 내에 영구적으로
          //               {키: 값} 쌍으로 데이터 저장하는 저장소
          //               -> 쿠키와 비슷하게 클라이언트에 저장소 존재
          //               -> 문자형 데이터 타입만 저장 가능
          //               -> 5KB 데이터 저장 가능
          // 1. 로컬 스토리지 데이터 저장
          // localStorage.setItem("키이름1", data1); (키이름1:data1)
          // localStorage.setItem("키이름2", data2); (키이름1:data1, 키이름2:data2)
          // 2. 로컬 스토리지 데이터 삭제
          // localStorage.removeItem("키이름2"); (키이름1:data1)
          // 3. 로컬 스토리지 데이터 가져오기
          // localStorage.getItem("키이름1"); >> data1
          // 4. 로컬 스토리지 데이터 전체 삭제
          // localStorage.clear(); {} 로컬 스토리지 전체 데이터 삭제

          // 토큰 정보 로컬 스트로지에 저장
          localStorage.setItem("login", token);
          document.location.href = "/";
        } else {
          // 로그인 실패
          alert(msg);
          // form 정보를 날리기 위해 새로 고침
          document.location.reload();
        }
      }
    </script>
  </body>
</html>
